/*
 .nav-layout-desktop(@j, @a){
    display: flex;
    flex-direction: column;
    justify-content: @j;
    align-items: @a;
}  */
/*
.btn-layout(@fc, @bc){
    color: @fc;
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
    background-color:@bc;
    

}
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1129px) {
  .header .wrapper {
    display: flex;
    flex-direction: row;
    background-color: #6c788c;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
  }
}
.header .wrapper .header-inside {
  background-color: #6c788c;
}
.header .wrapper .header-inside .navi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #6c788c;
  height: 8vh;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .header .wrapper .header-inside .navi {
    height: 10vh;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .header .wrapper .header-inside .navi {
    height: 10vh;
  }
}
@media only screen and (min-width: 1129px) {
  .header .wrapper .header-inside .navi {
    height: 14vh;
  }
}
.header .wrapper .header-inside .navi #logo {
  width: 90%;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .header .wrapper .header-inside .navi #logo {
    width: 100%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .header .wrapper .header-inside .navi #logo {
    width: 100%;
  }
}
@media only screen and (min-width: 1129px) {
  .header .wrapper .header-inside .navi #logo {
    width: 100%;
    height: 15vh;
  }
}
.header .container {
  position: relative;
  text-align: center;
  color: white;
}
.header .container .banner-img {
  max-width: 100vw;
  height: 45vh;
}
@media only screen and (min-width: 1129px) {
  .header .container .banner-img {
    height: 60vh;
  }
}
.header .container .centered {
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-bottom .sub-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3vh;
  text-align: center;
  background-color: #6c788c;
}
.header-bottom .sub-nav a {
  font-size: 1.3rem;
  margin-bottom: 2%;
  color: black;
  text-align: center;
  text-decoration: none;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .header-bottom .sub-nav a {
    margin-top: 2%;
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .header-bottom .sub-nav a {
    margin-bottom: 1%;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1129px) {
  .header-bottom .sub-nav a {
    margin: 0%;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .header-bottom .sub-nav {
    height: 7vh;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .header-bottom .sub-nav {
    height: 5vh;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  background-color: #6c788c;
}
.footer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  width: 100%;
}
.footer .info .bottomlogo {
  max-width: 80px;
  height: 4vh;
  margin-bottom: 2%;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .footer .info .bottomlogo {
    margin-top: 1%;
  }
}
@media only screen and (min-width: 1129px) {
  .footer .info .bottomlogo {
    max-width: 80vw;
    height: 10vh;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .footer .info {
    margin: 1%;
  }
}
.footer .social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-bottom: 3%;
}
.footer .social #icon {
  font-size: 1.6rem;
}
@media only screen and (min-width: 1129px) {
  .footer .social #icon {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .footer .social {
    width: 45%;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .footer .social {
    margin: 0%;
    width: 40%;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .footer {
    height: auto;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .footer {
    height: 18vh;
  }
}
@media only screen and (min-width: 1129px) {
  .footer {
    height: auto;
  }
}
.main-section {
  height: 135vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main-section .moto h1 {
  font-size: 1.7rem;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .main-section .moto h1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .main-section .moto {
    margin-top: 3%;
    letter-spacing: 1.4rem;
  }
}
@media only screen and (min-width: 1129px) {
  .main-section .moto {
    margin-top: 2%;
    letter-spacing: 2.3rem;
    border-bottom: 1.3px solid grey;
  }
}
.main-section .include {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 30vh;
  margin: 2%;
}
.main-section .include h1 {
  font-size: 1.2rem;
}
.main-section .include img {
  height: 45vh;
  margin: 3%;
  width: 75vw;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .main-section .include img {
    width: auto;
    height: 55vh;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .main-section .include img {
    width: 40vw;
    height: 45vh;
  }
}
@media only screen and (min-width: 1129px) {
  .main-section .include img {
    width: auto;
    height: 60vh;
  }
}
.main-section .include p {
  font-family: 'Play', sans-serif;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  margin: 2%;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .main-section .include {
    width: 80vw;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .main-section .include {
    height: auto;
    width: 80vw;
  }
  .main-section .include h1 {
    font-size: 1.8rem;
  }
  .main-section .include P {
    font-size: 1.4rem;
    margin: 2%;
    width: 80vw;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .main-section .include {
    align-items: center;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .main-section {
    height: auto;
  }
  .main-section #include-one {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 75%;
  }
  .main-section #include-two {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 75%;
  }
  .main-section #include-three {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
  }
}
@media only screen and (min-width: 1129px) {
  .main-section {
    height: auto;
  }
  .main-section #include-one {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
  }
  .main-section #include-two {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
  }
  .main-section #include-three {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
  }
}
.section-two {
  background-color: #f2f1ed;
  height: 20vh;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1129px) {
  .section-two {
    height: auto;
    margin: 0%;
  }
}
.section-two .include-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.section-two .include-two h1 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 2%;
  margin-top: 4%;
}
.section-two .include-two h2 {
  margin-top: 2%;
  text-align: center;
  font-size: 1.4rem;
}
@media only screen and (min-width: 1129px) {
  .section-two .include-two {
    align-items: center;
  }
  .section-two .include-two h2 {
    margin: 0%;
  }
}
.section-two .button-section-two {
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
  height: 35%;
  margin-top: 4%;
}
.section-two .button-section-two a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.6rem;
  background-color: blue;
  height: 7vh;
  width: 55%;
  border-radius: 1em;
  color: black;
}
@media only screen and (min-width: 1129px) {
  .section-two .button-section-two {
    width: 50%;
    margin-bottom: 2%;
  }
  .section-two .button-section-two a {
    padding-bottom: 1.5%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .section-two {
    height: 30vh;
    margin: 0%;
  }
}
.main-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  border: dotted 1px blue;
}
.main-section-card .warpper-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 55vh;
  background-color: #f2f1ed;
}
.main-section-card .warpper-card img {
  height: 30vh;
  width: 55vw;
}
