/*
 .nav-layout-desktop(@j, @a){
    display: flex;
    flex-direction: column;
    justify-content: @j;
    align-items: @a;
}  */
/*
.btn-layout(@fc, @bc){
    color: @fc;
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
    background-color:@bc;
    

}
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  display: flex;
  flex-direction: column;
}
.header .header-inside {
  background-color: #6c788c;
}
.header .header-inside .navi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #6c788c;
  height: 8vh;
}
.header .container {
  position: relative;
  text-align: center;
  color: white;
}
.header .container .banner-img {
  max-width: 375px;
}
.header .container .centered {
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-bottom .sub-nav {
  height: 3vh;
  text-align: center;
  background-color: #6c788c;
}
.header-bottom .sub-nav a {
  text-decoration: none;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  background-color: #6c788c;
}
.footer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  width: 100%;
}
.footer .info .bottomlogo {
  max-width: 80px;
  height: 4vh;
  margin-bottom: 2%;
}
.footer .social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-bottom: 3%;
}
.footer .social #icon {
  font-size: 1.6rem;
}
.main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main-section .moto h1 {
  font-size: 1.7rem;
}
.main-section .include {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 30vh;
  margin: 2%;
}
.main-section .include h1 {
  font-size: 1.2rem;
}
.main-section .include p {
  font-family: 'Play', sans-serif;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  margin: 2%;
}
