.main-section{
    height: 100vh;
    //.test(red);
    .flex(column);
    align-items: center;
    justify-content: space-evenly;

.moto{
    h1{
        font-size: 1.7rem;
    }
}

.include{
    .flex(column);
    justify-content: space-evenly;
    align-items: flex-start;
    //.test(red);
    height: 30vh;
    margin: 2%;
    h1{
        font-size: 1.2rem;
    }
    p{
        font-family: 'Play', sans-serif;
        font-size: 1.2rem;
        word-spacing: .2rem;
        margin: 2%;
    }
}




}