.header{
  //.test(green);
     .flex(column);
  .wrapper{


    @media @desktop-xl{
        .flex(row);
        background-color:  #6c788c;
        justify-content:space-around ;
        align-items: center;
        height: 20vh;
    }
  .header-inside{
     
      background-color: #6c788c ;
      //.test(red);
      .navi{
  
          .flex(row);
          justify-content: space-around;
          align-items: center;
          //.test(blue);
          background-color: #6c788c ;
          height: 8vh;
  
  
          @media @tablet{
               height: 10vh;
              
          }

          @media @desktop{
              height: 10vh;
          }

          @media @desktop-xl{
              height: 14vh;
          }
  
           #logo{
               width: 90%;
               

              @media @desktop{
                  width: 100%;
              }

               @media @tablet{
                   width: 100%;
               }

@media @desktop-xl{
    width: 100%;
    height: 15vh;
    
}

           }
      } //end nav (nested inside header-inside(parent: header))
  
  } //end header-inside (nested inside header
}
  
  .container{
     
      position: relative;
      text-align: center;
      color: white;
  .banner-img{
      max-width: 100vw; //temp use for Iphone X 
      height: 45vh;



      @media @desktop-xl{
          height: 60vh;
      }
  }
  .centered{
      font-size: 3.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  }
  
  } //end header
  
  .header-bottom{
      .sub-nav {
           .flex(row);
           justify-content: center;
           align-items: center;
          
  
          height: 3vh;
          text-align: center;
          background-color: #6c788c ;

          @media @desktop-xl{
             
          }
         
          a{
              font-size: 1.3rem;
              margin-bottom: 2%;
              color: black;
              text-align: center;
              text-decoration: none;
              
              
              @media @desktop{
                  margin-top: 2%;
                  font-size: 1.8rem;
              }

              @media @tablet{
               
                margin-bottom: 1%;
               font-size: 1.5rem;


            }

             @media @desktop-xl{
                 margin: 0%;
                 font-size: 2rem;
                 
                 
             }


          }
          @media @desktop{
              height: 7vh;
          }

          @media @tablet{
              height: 5vh;
          }


      }
    }
